Snapdeal_Workspace/SD_PaymentTermDetails/Resources/SD_PaymentTermDetails_Service.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/SD_PaymentPanel_App/SD_PaymentTermDetails/SD_PaymentTermDetails_Service" xmlns:ns0="http://www.PaymentTermDetails.org" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="SD_PaymentTermDetails_Service">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.PaymentTermDetails.org" schemaLocation="../Schema/SD_PaymentTermDetails.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="SD_PaymentTermDetails_Opr">
            <request>
               <param name="sellerCode" style="query" soa:expression="$msg.request/ns0:sellerCode" default="" type="xsd:string"/>
               <param name="date" style="query" soa:expression="$msg.request/ns0:date" default="" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:SD_PaymentTermDetails_Output" xmlns:cns="http://www.PaymentTermDetails.org"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
